{% form_theme form 'KryptosKryptosBundle:Form:purchaseConversion.html.twig' %}

		<form id="purchaseConversion" action="{{ formAction }}" method="post" {{ form_enctype(form) }}>
	    	<div class="row">
	    	
	    		<fieldset>
					<legend>Purchase Details</legend>
			    	<div class="row amount">
			    		<div class="span12">
							{{ form_label(form.conversions) }}
							{{ form_widget(form.conversions) }}
					    </div>
						<!-- <a id="PurchaseConversionForm_btn_cacl" class="btn btn-custom-block">Calculate Costs</a> -->
						
					</div>
					<div class="row cost">
					    <div class="span12">
					    	{{ form_label(form.cost) }}
					    	{{ form_widget(form.cost) }}
					    </div>
					</div>
					<div class="row vat">
						<div class="span12">
							{{ form_label(form.vat) }}
							{{ form_widget(form.vat) }}
					    </div>
					</div>
					
					{{ form_rest(form) }}
					<br>
					<div class="row submit">
						<div class="span12">
						<button id="PurchaseConversionForm_btn_submit" type="submit" class="btn btn-custom-block btn-primary">
							<i class="icon-shopping-cart icon-white"></i> {% trans %}btn_purchase{% endtrans %}
						</button>
						</div>
					</div>
				</fieldset>
				
				<br>
				{{ form_errors(form) }}
				{{ form_errors(form.conversions) }}
				{{ form_errors(form.cost) }}
				{{ form_errors(form.vat) }}
				
	    	</div>
	    </form>
