{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:convertSingle.html.twig' %}


{% block content %}
	<legend style="text-align:left;">Convert Bank account</legend>
	<div class="row-fluid">
		<div class="span6">
			<div style="background-color:#F8F8F8">
				<form novalidate id="convertSingle" action="{{ path('convert_single') }}" method="post" {{ form_enctype(form) }}>
					<div class="row">	
					
						<script>
							var countrySelected = '';
							{% if countrySelected %}
								countrySelected = '{{ countrySelected }}';
							{% endif %}
						</script>
					
						{% if bbanMappings %}
						<script>
							var bbanMap = new Array();
						
							{% for code, mappings in bbanMappings %}
								bbanMap['{{ code }}'] = new Array();
					        
								{% for name, text in mappings %}
									bbanMap['{{ code }}']['{{ name }}'] = '{{ text }}';
					    	    {% endfor %}
					    	{% endfor %}
						</script>
						{% endif %}
					
						<fieldset>
							<legend>Enter Bank Account</legend>
							<div class="control-group">
								{{ form_row(form.country) }}
								{{ form_row(form.bban1) }}
								{{ form_row(form.bban2) }}
								{{ form_row(form.bban3) }}
								{{ form_row(form.bban4) }}
								
								{{ form_rest(form) }}
							</div>  
					
							<div class="control-group">    
								<div class="controls">
									<button type="submit" class="btn btn-custom-block btn-primary"><i class="icon-check icon-white"></i> {{ btn_submit }}</button>
								</div>  
							</div>
						</fieldset>
						
						{{ form_errors(form) }}
						{{ form_errors(form.country) }}
						{{ form_errors(form.bban1) }}
						{{ form_errors(form.bban2) }}
						{{ form_errors(form.bban3) }}
						{{ form_errors(form.bban4) }}
						{{ form_errors(form.bban5) }}
				
						{% if true == accountValid %}
							<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
								<strong><i class="icon-ok-sign"></i> Bank Account valid</strong> <br/>
								The bank account provided is valid and has been converted to SEPA format below.
							</div>
						{% endif %}
					
					</div>
				</form>
			</div>
		</div>


		{% if true == accountValid %}
		<div class="span6">
			<div style="background-color:#F8F8F8" >
				<form class="form-horizontal">
					<div class="row">
						<div class="control-group">    
							<legend>Converted Results</legend>
							
							<div class="control-group">
								<label class="control-label" for="iban">IBAN</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input" style="height:20px;" id="iban" rel="popover">{{ accountData.iban }}</span>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="bic">BIC</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input"  style="height:20px;" id="bic" rel="popover">{{ accountData.bic }}</span>
								</div>
							</div>
	
							<div class="control-group">
								<label class="control-label" for="bank">Bank</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input"  style="height:20px;" id="bank" rel="popover"> </span>
								</div>
							</div>
	
						
							<div class="control-group">
								<label class="control-label" for="bank">Branch</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input"  style="height:20px;" id="branch" rel="popover"> </span>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="address">Address</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input"  style="height:20px;" id="address" rel="popover"> </span>
								</div>
							</div>
							
							<!-- START of Does not support SEPA Direct Debit-->
							<div class="alert alert-info">
							  <button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
							  <strong><i class="icon-info-sign"></i> SEPA Direct Debit unsupported</strong> <br/>
							  The bank/branch does not support SEPA Direct Debit
							</div>
				       		 <!-- END of Does not support SEPA Direct Debitt-->
						
							<!-- START of Does not support SEPA Credit Transfer-->
							<div class="alert alert-info">
							  <button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
							  <strong><i class=" icon-info-sign"></i> SEPA Credit Transfer unsupported</strong> <br/>
							  The bank/branch does not support SEPA Credit Transfers
							</div>
				        	<!-- END of Does not support SEPA Credit Taansfer-->
		
							<!-- START of Does not support Business SEPA Direct Debit-->
							<div class="alert alert-info">
							  <button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
							  <strong><i class=" icon-info-sign"></i> SEPA Business Direct Debit unsupported</strong> <br/>
							  The bank/branch does not support SEPA Business Direct Debit payments
							</div>
				        	<!-- END of Does not support SEPA Direct Debitt-->
		
							<!-- START of Does not support SEPA Credit Transfer-->
							<div class="alert alert-info">
							  <button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
							  <strong><i class=" icon-info-sign"></i> SEPA Business Credit Transfer unsupported</strong> <br/>
							  The bank/branch does not support SEPA Business Credit Transfers
							</div>
				        	<!-- END of Does not support SEPA Credit Taansfer-->
      
						</div>
					</div>
				</form>
    		</div>
		</div>
		{% endif %}
	</div>
{% endblock %}