{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:convertSingle.html.twig' %}


{% block content %}
	<legend style="text-align:left;">{% trans %}txt_convert_bank_account{% endtrans %}</legend>
	<div class="row-fluid">
		<div class="span6">
			<div style="background-color:#F8F8F8">
				<form novalidate id="convertSingle" action="{{ path('convert_single') }}" method="post" {{ form_enctype(form) }}>
					<div class="row">	
					
						<script>
							var countrySelected = '';
							{% if countrySelected %}
								countrySelected = '{{ countrySelected }}';
							{% endif %}
						</script>
					
						{% if bbanMappings %}
						<script>
							var bbanMap = new Array();
						
							{% for code, mappings in bbanMappings %}
								bbanMap['{{ code }}'] = new Array();
					        
								{% for name, text in mappings %}
									bbanMap['{{ code }}']['{{ name }}'] = '{{ text }}';
					    	    {% endfor %}
					    	{% endfor %}
						</script>
						{% endif %}
					
						<fieldset>
							<legend>{% trans %}txt_enter_bank_account{% endtrans %}</legend>
							
							<div class="control-group">
								{{ form_row(form.iban) }}
							</div> 
							
							<div class="control-group or_splitter">
								<p>{% trans %}txt_or{% endtrans %}</p>
							</div>
							
							<div class="control-group">
								{{ form_row(form.country) }}
								{{ form_row(form.bban1) }}
								{{ form_row(form.bban2) }}
								{{ form_row(form.bban3) }}
								{{ form_row(form.bban4) }}
								
								{{ form_rest(form) }}
							</div>  
					
							<div class="control-group">    
								<div class="controls">
									<button type="submit" class="btn btn-custom-block btn-primary"><i class="icon-check icon-white"></i> {% trans %}txt_convert{% endtrans %}</button>
								</div>  
							</div>
						</fieldset>
						
						{{ form_errors(form) }}
						{{ form_errors(form.iban) }}
						{{ form_errors(form.country) }}
						{{ form_errors(form.bban1) }}
						{{ form_errors(form.bban2) }}
						{{ form_errors(form.bban3) }}
						{{ form_errors(form.bban4) }}
						{{ form_errors(form.bban5) }}
				
				
						{% if result.isTransposed is defined and true == result.isTransposed %}
							<div class="alert alert-info">
								<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
								<strong><i class="icon-ok-sign"></i> {% trans %}msg_title_bank_account_transposed{% endtrans %}</strong> <br/>
								{% trans %}msg_desc_bank_account_transposed{% endtrans %}
							</div>
						{% endif %}
				
						{% if true == accountValid %}
							<div class="alert alert-success">
								<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
								<strong><i class="icon-ok-sign"></i> {% trans %}msg_title_bank_account_valid{% endtrans %}</strong> <br/>
								{% trans %}msg_desc_bank_account_valid{% endtrans %}
							</div>
						{% endif %}
					
					</div>
				</form>
			</div>
		</div>


		{% if true == accountValid %}
		<div class="span6">
			<div style="background-color:#F8F8F8" >
				<form class="form-horizontal">
					<div class="row">
						<div class="control-group">    
							<legend>{% trans %}txt_convert_results{% endtrans %}</legend>
							
							<div class="control-group">
								<label class="control-label" for="iban">{% trans %}txt_iban{% endtrans %}</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input" style="height:20px;" id="iban" rel="popover">
									{% if result.iban is defined %}
										{{ result.iban }}
									{% endif %}
									</span>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="bic">{% trans %}txt_bic{% endtrans %}</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input"  style="height:20px;" id="bic" rel="popover">
									{% if result.bic is defined %}
										{{ result.bic }}
									{% endif %}
									</span>
								</div>
							</div>
	
							<div class="control-group">
								<label class="control-label" for="bank">{% trans %}txt_bank{% endtrans %}</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input"  style="height:20px;" id="bank" rel="popover">
									{% if result.bankDetails.bank_name is defined %}
										{{ result.bankDetails.bank_name }}
									{% endif %}
									</span>
								</div>
							</div>
	
						
							<div class="control-group">
								<label class="control-label" for="bank">{% trans %}txt_branch{% endtrans %}</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input"  style="height:20px;" id="branch" rel="popover">
									{% if result.bankDetails.branch_name is defined %}
										{{ result.bankDetails.branch_name }}
									{% endif %}
									</span>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="address">{% trans %}txt_address{% endtrans %}</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input"  style="height:20px;" id="address" rel="popover">
									{% set addressOutputMade = 'false' %}
									
									{% if result.bankDetails.bank_address is defined %}
										{% if '' != result.bankDetails.bank_address|trim %}
											{{ result.bankDetails.bank_address|trim }}
										{% endif %}
									{% endif %}
									</span>
								</div>
							</div>
							
							{% if false == result.directDebitsSupported %}
								<div class="alert alert-info">
									<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
									<strong><i class="icon-info-sign"></i> {% trans %}msg_title_sepa_dd_unsupported{% endtrans %}</strong> <br/>
									{% trans %}msg_desc_sepa_dd_unsupported{% endtrans %}
								</div>
							{% endif %}
						
							{% if false == result.creditTransferSupported %}
								<div class="alert alert-info">
								  <button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
								  <strong><i class=" icon-info-sign"></i> {% trans %}msg_title_sepa_ct_unsupported{% endtrans %}</strong> <br/>
								  {% trans %}msg_desc_sepa_ct_unsupported{% endtrans %}
								</div>
				        	{% endif %}
		
							{% if false == result.businessDirectDebitsSupported %}
								<div class="alert alert-info">
									<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
									<strong><i class=" icon-info-sign"></i> {% trans %}msg_title_sepa_bdd_unsupported{% endtrans %}</strong> <br/>
									{% trans %}msg_desc_sepa_bdd_unsupported{% endtrans %}
								</div>
				        	{% endif %}
      
						</div>
					</div>
				</form>
    		</div>
		</div>
		{% endif %}
	</div>
{% endblock %}