{% extends "KryptosKryptosBundle::layout.html.twig" %}


{% block content %}
	<fieldset>
		<legend style="text-align:left;">{% trans %}txt_purchase_conversions{% endtrans %}</legend>
	</fieldset>
	<div class="row-fluid">
		<div class="span6">
			<form class="form-horizontal" >
				<fieldset>
					<legend>{% trans %}txt_purchase_details{% endtrans %}</legend>
				</fieldset>	
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{% trans %}txt_conversions{% endtrans %}</th>
							<th>{% trans %}txt_cost{% endtrans %}</th>
							{#<th>{% trans %}txt_vat{% endtrans %}</th>#}
							<th>{% trans %}txt_total{% endtrans %}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ credits}}</td>
							<td>{{ currency|raw }}{{ cost }}</td>
							{#<td>{{ currency|raw }}{{ vat }}</td>#}
							<td>{{ currency|raw }}{{ total }}</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		
		<div class="span6" style="text-align:center;">
			{% render controller('KryptosSageBundle:Payment:billingForm', { request: request, error: error }) %}
		</div>
	</div>

{% endblock %}