{% extends "KryptosKryptosBundle::layout.html.twig" %}


{% block content %}
	<legend style="text-align:left;">Purchase Conversions</legend>
	<div class="row-fluid">
		<div class="span6">
			<form class="form-horizontal" >
				<fieldset>
					<legend>Purchase Details</legend>
				</fieldset>	
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Conversions</th>
							<th>Cost</th>
							<th>VAT</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ credits}}</td>
							<td>{{ currency|escape }}{{ cost }}</td>
							<td>{{ currency|escape }}{{ vat }}</td>
							<td>{{ currency|escape }}{{ total }}</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		
		<div class="span6" style="text-align:center;">
			{% render 'KryptosSageBundle:Payment:billingForm' with { request: request, error: error } %}
		</div>
	</div>

{% endblock %}