{% form_theme form 'KryptosKryptosBundle:Form:commonTheme.html.twig' %}

	<div style="background-color:#F8F8F8">	    			
		<form id="paymentBilling" action="{{ path('payment_billing') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	    	<fieldset>
				<legend>{% trans %}txt_billing_details{% endtrans %}</legend>
				
		    	<div class="control-group">
				    {{ form_row(form.billingSurname) }}
				</div>
				<div class="control-group">
				    {{ form_row(form.billingFirstnames) }}
				</div>
				<div class="control-group">
				    {{ form_row(form.billingAddress1) }}
				</div>
				<div class="control-group">
				    {{ form_row(form.billingAddress2) }}
				</div>
				<div class="control-group">
				    {{ form_row(form.billingCity) }}
				</div>
				<div class="control-group">
				    {{ form_row(form.billingPostCode) }}
				</div>
				<div class="control-group">
				    {{ form_row(form.billingCountry) }}
				</div>
				
				<div class="control-group">
				    {{ form_row(form.acceptTerms) }}
				</div>

				{{ form_rest(form) }}
				
				<div class="control-group">
					<button id="PaymentBillingForm_btn_submit" class="btn btn-custom-block btn-primary" type="submit">
						<i class="icon-shopping-cart icon-white"></i> {% trans %}btn_confirm{% endtrans %}
					</button>
				</div>
			</fieldset>
			
			<br>
			{{ form_errors(form) }}
			{{ form_errors(form.billingSurname) }}
			{{ form_errors(form.billingFirstnames) }}
			{{ form_errors(form.billingAddress1) }}
			{{ form_errors(form.billingAddress2) }}
			{{ form_errors(form.billingCity) }}
			{{ form_errors(form.billingPostCode) }}
			{{ form_errors(form.billingCountry) }}
			{{ form_errors(form.acceptTerms) }}
			
			{% include 'KryptosKryptosBundle:Default:modalTermsConditions.html.twig' %}
			<img src="//sepa.kryptossystems.com/bundles/kryptossage/images/securedby_sagepay.png" alt="Secured by Sage|Pay">
	    </form>
	</div>