{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:commonTheme.html.twig' %}

{% block content %}
	<div class="row-fluid">
		<form action="{{ path('convert_batch') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<div class="row" style="text-align:center;">
				<legend style="text-align:left;">1. Prepare your file</legend>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>
								<div style="text-align:left;">Prepare a list of your account numbers using our template. Save a copy in case you need to edit it later</div>
								<div style="text-align:right;">
									<a style="text-align:right;" href="{{ path('convert_batch_template') }}" >
										<button class="btn btn-primary" type="button"><i class="icon-download-alt icon-white"></i> Download</button>
									</a>
									<a style="text-align:right;" href="" >
										<button class="btn btn-primary" type="button"><i class="icon-question-sign icon-white"></i> Help</button>
									</a>
								</div>
							</td>
						</tr> 
					</tbody>
				</table>
			</div>
			
			<div class="row">
				<legend style="text-align:left;">2. Upload your file</legend>
				
				{% if confirmUpload != '' %}
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
						<strong><i class="icon-ok-sign"></i> Upload Complete</strong> <br/>
						{{ confirmUpload }}
					</div>
				{% endif %}
				
				{% if attentionOnFile != '' %}
					<div class="alert alert-block">
						<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
						<strong><i class="icon-question-sign"></i> Attention Required</strong> <br/>
						
						<div>
							You do not have enough conversions to proceed with the processing of the file that you have just uploaded.
							<br><br>
							You will need to purchase conversions in order for the file to be processed. Click the 'purchase' button to purchase the correct
							amount of conversions and have your file processed.
							<br><br>
							Alternatively, if you do not wish to purchase conversions at this time simply click 'cancel', and your uploaded file will be removed.
							<br><br>
						</div>
						
						<a href="{{ path('convert_batch') }}?f={{ attentionOnFile }}" >
							<button class="btn" type="button"><i class="icon-remove"></i> Cancel </button>
						</a>
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						
						<a href="{{ path('purchase_conversions') }}?f={{ attentionOnFile }}" >
							<button class="btn btn-primary" type="button"><i class="icon-shopping-cart icon-white"></i> Purchase </button>
						</a>
					</div>
				{% endif %}
				
				{{ form_errors(form) }}
				{{ form_errors(form.attachment) }}
				
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>
								<div style="text-align:left;">Save the worksheet containing your account number data as a .csv file and then upload it here.</div>
								<div style="text-align:right;">
									<div class="fileupload fileupload-new" data-provides="fileupload">
										<span class="fileupload-preview"></span>
										<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none"><i class=" icon-remove"></i></a> &nbsp;
										<span class="btn btn-file btn-primary">
											<span class="fileupload-new">
												<i class="icon-folder-open icon-upload icon-white"></i> Browse 
											</span>
											<span class="fileupload-exists">
											 	<i class="icon-file icon-white"></i> Change 
											</span>
											{{ form_widget(form.attachment) }}
										</span>
										
										
										<a href="" >
											<button class="btn btn-primary" type="submit"><i class="icon-download-alt icon-upload icon-white"></i> {{ btn_submit }} </button>
										</a>
										<a href="" >
											<button class="btn btn-primary" type="button"><i class="icon-question-sign icon-white"></i> Help </button>
										</a> 
									</div>
									
									{{ form_rest(form) }}
								</div>
							</td>
						</tr>
					</tbody>
				</table>				
			</div>
			
			<section id='fileStatus'>
			   	{% render 'KryptosKryptosBundle:FileStatus:index'  %}
			</section>
			
		</form>
	</div>
{% endblock %}