{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:commonTheme.html.twig' %}

{% block content %}
	<div class="row-fluid">
		<form action="{{ path('convert_batch') }}" method="post" {{ form_enctype(form) }} class="form-horizontal batchUploadForm">
			<div class="row" style="text-align:center;">
				<fieldset>
					<legend style="text-align:left;">{% trans %}txt_prepare_your_file{% endtrans %}</legend>
				</fieldset>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>
								<div style="text-align:left;">{% trans %}txt_prepare_your_list_of{% endtrans %}</div>
								<div style="text-align:right;">
									<a class="btn btn-primary" style="text-align:right;" href="{{ path('convert_batch_template') }}" >
										<i class="icon-download-alt icon-white"></i> {% trans %}txt_download{% endtrans %}
									</a>
									
									<a class="btn btn-primary" style="text-align:right;" href="{{ path('download_help_prepare_file',  { '_locale': app.request.locale }) }}" >
										<i class="icon-question-sign icon-white"></i> {% trans %}txt_help{% endtrans %}
									</a>
								</div>
							</td>
						</tr> 
					</tbody>
				</table>
			</div>
			
			<div class="row">
				<fieldset>
					<legend style="text-align:left;">{% trans %}txt_upload_your_file{% endtrans %}</legend>
				</fieldset>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>
								<div style="text-align:left;">{% trans %}txt_save_the_worksheet{% endtrans %}</div>
								<div style="text-align:right;">
									<div class="fileupload fileupload-new" data-provides="fileupload">
										<span class="fileupload-preview"></span>
										<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none"><i class=" icon-remove"></i></a> &nbsp;
										<span class="btn btn-file btn-primary">
											<span class="fileupload-new">
												<i class="icon-folder-open icon-upload icon-white"></i> {% trans %}txt_browse{% endtrans %} 
											</span>
											<span class="fileupload-exists">
											 	<i class="icon-file icon-white"></i> {% trans %}txt_change{% endtrans %} 
											</span>
											{{ form_widget(form.attachment) }}
										</span>
										
										<button class="btn btn-primary" type="submit"><i class="icon-download-alt icon-upload icon-white"></i> {% trans %}txt_upload{% endtrans %} </button>
										
										<a class="btn btn-primary" href="{{ path('download_help_upload_file',  { '_locale': app.request.locale }) }}" >
											<i class="icon-question-sign icon-white"></i> {% trans %}txt_help{% endtrans %}
										</a> 
									</div>
									
									{{ form_rest(form) }}
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				{% if confirmUpload != '' %}
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
						<strong><i class="icon-ok-sign"></i> {% trans %}msg_title_upload_complete{% endtrans %}</strong> <br/>
						{{ confirmUpload|trans }}
					</div>
				{% endif %}
				
				{% if attentionOnFile != '' %}
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
						<strong><i class="icon-exclamation-sign"></i> {% trans %}msg_title_attention_required{% endtrans %}</strong> <br/>
						
						<div>
							{% trans %}msg_desc_attention_required_1{% endtrans %}
							<br><br>
							{% trans %}msg_desc_attention_required_2{% endtrans %}
							<br><br>
							{% trans %}msg_desc_attention_required_3{% endtrans %}
							<br><br>
						</div>
						
						<a href="{{ path('convert_batch') }}?f={{ attentionOnFile }}" >
							<button class="btn" type="button"><i class="icon-remove"></i> {% trans %}btn_cancel{% endtrans %} </button>
						</a>
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						
						<a href="{{ path('purchase_conversions') }}?f={{ attentionOnFile }}" >
							<button class="btn btn-primary" type="button"><i class="icon-shopping-cart icon-white"></i> {% trans %}txt_purchase{% endtrans %} </button>
						</a>
					</div>
				{% endif %}
				
				{{ form_errors(form) }}
				{{ form_errors(form.attachment) }}
			</div>
			
			<section id='fileStatus'>
			   	{% render controller('KryptosKryptosBundle:FileStatus:index')  %}
			</section>
			
		</form>
	</div>
{% endblock %}