{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:commonTheme.html.twig' %}

{% block content %}
	
	<section class="blueHeader">
		<h1>{{ location }}</h1>
		<section class="innerWrap">
			<div id="convertBatch">
				<form action="{{ path('convert_batch') }}" method="post" {{ form_enctype(form) }}>
					{% if conversionsRestricted == true %}
					<div>
						{{ userNote }}
					</div>
					{% endif %}
				
			    	<div id="ConvertBatchForm">
			    		<div id="ConvertBatchForm_errors" class="form_errors">
			    			{{ form_errors(form) }}
			    		</div>
			    		
			    		{% if confirmUpload != '' %}
			    		<div id="ConvertBatchForm_success" class="form_success">
			    			{{ confirmUpload }}
			    		</div>
			    		{% endif %}
			    		
				    	<div class="form_row attachment control-group">
				    	
						    {{ form_label(form.attachment) }}
						    {{ form_widget(form.attachment) }}
						    {{ form_errors(form.attachment) }}
						</div>
						{{ form_rest(form) }}
						<div class="form_row submit">
							<button id="ConvertBatchForm_btn_submit" class="btn btn-custom-block" type="submit">{{ btn_submit }}</button>
						</div>
			    	</div>
			    </form>
			    
			    <section id='fileStatus'>
			    	{% render 'KryptosKryptosBundle:FileStatus:index'  %}
			    </section>
			    
			</div>
		</section>
	</section>

{% endblock %}