{% extends "KryptosKryptosBundle::layout.html.twig" %}


{% block content %}
	<fieldset>
		<legend style="text-align:left;">{{ location }}</legend>
	</fieldset>
	<div class="row-fluid">
		<div class="span6">
			<div style="background-color:#F8F8F8">
				<form>
					<div class="row">	
						<fieldset>
							<legend>Public key</legend>
							<div class="control-group">
							{{ publicKey }}
							</div>
						</fieldset>
					</div>
				</form>
			</div>
		</div>
		<!--
		<div class="span6">
			<div style="background-color:#F8F8F8">
				<form>
					<div class="row">	
						<fieldset>
							<legend>Private key</legend>
							<div class="control-group">
							{{ privateKey }}
							</div>
						</fieldset>
					</div>
				</form>
			</div>
		</div>
		 -->
	</div>
	
	<div class="row-fluid">
		<form class="form-horizontal" >
			<fieldset>
				<legend>Available endpoints</legend>
			</fieldset>
			<div>
				The following API calls are available<br><br>
				
				IBAN endpoint:<br>
				<code>/services/{locale}/convert/iban/{publicKey}/{iban}</code><br><br>
				
				BBAN endpoint:<br>
				<code>/services/{locale}/convert/bban/{publicKey}/{country}/{bban1}/{bban2}/{bban3}/{bban4}</code><br>
				
				<br>
			</div>
			
			
			<br><br>
			<fieldset>
				<legend>Usage</legend>
			</fieldset>
			<div>
				The IBAN endpoint can be used to return SEPA bank details from a given IBAN number.
			</div>
			<div>
				The BBAN endpoint can be used to return SEPA bank details from a set of BBAN details.
			</div>
			
			<div>
				<br><br>
				Both API calls require that you specify the language that you want the results returned back in. Your language preference should replace the text <code>{locale}</code> in both API calls.
				The following locales are supported:<br>
				<ul>
					{% for supported_locale in supported_locales %}
					<li>{{ supported_locale }}</li>
					{% endfor %}
				</ul>
				{% for supported_locale in supported_locales %}
					{{ supported_locale }} = {% trans into supported_locale %}txt_indigenous_lang{% endtrans %}, 
				{% endfor %}

				<br>
				<br>
				<br>
				Both API calls require that your public key (displayed above) is provided in the call. Your public key should replace the text <code>{publicKey}</code> in both API calls. 
			</div>

			<div>
				<br><br>
				When using the BBAN endpoint, only the necessary bban fields for the specified country code can be supplied.<br>
				e.g. If making a call on the GB country code then only bban1 and bban2 can be supplied, such as:<br>
				<code>/services/{locale}/convert/bban/{publicKey}/GB/{bban1}/{bban2}</code>
			</div>


			<br><br>
			<fieldset>
				<legend>Test API</legend>
			</fieldset>
			<div>
				The API service contains a test service, which allows you to develop against the api without using up your conversion count. <br>
				In order to use the test api, simple prefix the text 'services' with 'dummy_' in the api enpoint.<br><br>

				e.g. The IBAN and BBAN endpoints for the dummy service would be:<br><br>

				IBAN endpoint:<br>
				<code>/dummy_services/{locale}/convert/iban/{publicKey}/{iban}</code><br><br>

				BBAN endpoint:<br>
				<code>/dummy_services/{locale}/convert/bban/{publicKey}/{country}/{bban1}/{bban2}/{bban3}/{bban4}</code>
				<br><br>
			</div>

			<div>
				All calls to the test API are free, however, they are restricted to the below sample of bank accounts. <br><br>

				Sample for BBAN Validation and Conversions<br>
				<table id="sample_bban" class="sample_data table table-striped table-bordered table-condensed">
					<thead>
						<tr><th>#</th><th>ISO Code</th><th>Country</th><th>BBAN1</th><th>BBAN2</th><th>BBAN3</th><th>BBAN4</th><th>Condition Description</th></tr>
					</thead>
					<tbody>
						<tr><td>1</td><td>GB</td><td>United Kingdom</td><td>000004</td><td>12345677</td><td></td><td></td><td>No Error, Warning or Information messages</td></tr>
						<tr><td>2</td><td>GB</td><td>United Kingdom</td><td>000003</td><td>12</td><td></td><td></td><td>Account number format is incorrect</td></tr>
						<tr><td>3</td><td>GB</td><td>United Kingdom</td><td>000003</td><td>12345673</td><td></td><td></td><td>Modulus check has failed</td></tr>
						<tr><td>4</td><td>GB</td><td>United Kingdom</td><td>000003</td><td>123 45672</td><td></td><td></td><td>Account details were not in standard form and have been transposed</td></tr>
						<tr><td>5</td><td>GB</td><td>United Kingdom</td><td>000002</td><td>12345678</td><td></td><td></td><td>Modulus check algorithm is unavailable for these account details</td></tr>
						<tr><td>6</td><td>GB</td><td>United Kingdom</td><td>000003</td><td>22345616</td><td></td><td></td><td>Account does not support Direct Debit transactions</td></tr>
						<tr><td>7</td><td>GB</td><td>United Kingdom</td><td>000003</td><td>22345632</td><td></td><td></td><td>Account does not support Direct Credit transactions</td></tr>
						<tr><td>8</td><td>GB</td><td>United Kingdom</td><td>000003</td><td>22345624</td><td></td><td></td><td>Collection account requires a reference or roll account number</td></tr>
						<tr><td>9</td><td>GB</td><td>United Kingdom</td><td>000003</td><td>22345683</td><td></td><td></td><td>Account does not support AUDDIS transactions</td></tr>
						<tr><td>10</td><td>GB</td><td>United Kingdom</td><td>000004</td><td>22345610</td><td></td><td></td><td> Alternate information is available for this account</td></tr>
					</tbody>
				</table>

				Test API call for row 1 above would be in the form of:<br>
				<code>/dummy_services/{locale}/convert/bban/{publicKey}/GB/000004/12345677</code>

				<br><br><br>

				Sample for IBAN Validation and Conversions<br>
				<table id="sample_iban" class="sample_data table table-striped table-bordered table-condensed">
					<thead>
						<tr><th>#</th><th>ISO Code</th><th>Country</th><th>IBAN</th><th>Condition Description</th></tr>
					</thead>
					<tbody>
						<tr><td>11</td><td>GB</td><td>United Kingdom</td><td>GB57 BIBA 0000 0312 3456 72</td><td>No Error, Warning or Information messages</td></tr>
						<tr><td>12</td><td>GB</td><td>United Kingdom</td><td>GB37 BIBA 0000 0312 3456 7</td><td>IBAN country format is incorrect</td></tr>
						<tr><td>13</td><td>GB</td><td>United Kingdom</td><td>GB23</td><td>IBAN is invalid</td></tr>
						<tr><td>14</td><td>GB</td><td>United Kingdom</td><td>GB58 BIBA 0000 0312 3456 72</td><td>IBAN modulus check has failed</td></tr>
					</tbody>
				</table>

				Test API call for row 11 above would be in the form of:<br>
				<code>/dummy_services/{locale}/convert/iban/{publicKey}/GB57BIBA00000312345672</code>
				<br><br>
			</div>

			

			 <!--
			<br><br>
			<fieldset>
				<legend>What are Public/Private keys</legend>
			</fieldset>
			<div>
				The Public key is a unique key that can be used to identify you. This key will need to be supplied in all transactional API calls.
				A transactional API call refers to any API call that will modify your account details, such as your account credit.
			</div>
			
			<div>
				<br>
				The Private key is a unique key that can be used to verify that the API call originated from you.
				This key should NOT be supplied in any API call, and should be kept a secret and not exposed to anybody else.<br>
				
				This key will be used to encrypt data at your end, before you make a call to our APIs.
				Our API's do NOT currently support this feature.
				More information will be added here once this feature has been implemented.
			</div>
			 -->
			
		</form>
	</div>
{% endblock %}