<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">Kryptos</a>
		<ul class="nav">
			<li class="{% if current_route in ['welcome'] %}active{% endif %}">
				<a href="{{ path('welcome') }}"><i class="icon-home"></i> Home</a>
			</li>
			<li class="dropdown {% if current_route in ['convert_single', 'convert_batch'] %}active{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Convert
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{{ path('convert_single') }}">Single conversion</a></li>
					<li><a href="{{ path('convert_batch') }}">Batch Conversion</a></li>
				</ul>
			</li>	
			
				<li class="dropdown {% if current_route in ['account_summary', 'purchase_conversions', 'payment_billing'] %}active{% endif %}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Account
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('account_summary') }}">Payment History</a></li>
						<li><a href="{{ path('purchase_conversions') }}">Purchase conversions</a></li>
					</ul>
				</li>
			
			<li class="{% if current_route in ['settings'] %}active{% endif %}"><a href="{{ path('account_settings') }}">Settings</a></li>
    	</ul>
		<ul class="nav pull-right">
			<li><a href="{{ path('logout') }}">Logout</a></li>
		</ul>
		<ul class="nav pull-right">
			<li><a href="#">Balance: {{ conversions }}</a></li>
		</ul>
		<ul class="nav pull-right">
			<li><a href="#">You are logged in as: <strong>{{ username }}</strong></a></li>
		</ul>
	</div>
</div>