<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">Kryptos</a>
		<ul class="nav">
			<li class="{% if current_route in ['welcome'] %}active{% endif %}">
				<a href="{{ path('welcome') }}"><i class="icon-home"></i> {% trans %}txt_home{% endtrans %}</a>
			</li>
			<li class="dropdown {% if current_route in ['convert_single', 'convert_batch'] %}active{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{% trans %}txt_convert{% endtrans %}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{{ path('convert_single') }}">{% trans %}txt_single_conversion{% endtrans %}</a></li>
					<li><a href="{{ path('convert_batch') }}">{% trans %}txt_batch_conversion{% endtrans %}</a></li>
					<li><a href="{{ path('api_details') }}">API</a></li>
				</ul>
			</li>	
			
				<li class="dropdown {% if current_route in ['account_summary', 'purchase_conversions', 'payment_billing'] %}active{% endif %}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						{% trans %}txt_account{% endtrans %}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('account_summary') }}">{% trans %}txt_account_history{% endtrans %}</a></li>
						<li><a href="{{ path('purchase_conversions') }}">{% trans %}txt_purchase_conversions{% endtrans %}</a></li>
					</ul>
				</li>
			
			<li class="{% if current_route in ['settings'] %}active{% endif %}"><a href="{{ path('account_settings') }}">{% trans %}txt_settings{% endtrans %}</a></li>
    	</ul>
		<ul class="nav pull-right">
			<li><a href="{{ path('logout') }}">{% trans %}txt_logout{% endtrans %}</a></li>
		</ul>
		<ul class="nav pull-right">
			<li><span>{% trans %}txt_balance{% endtrans %}: {{ conversions }}</span></li>
		</ul>
		
		<ul class="nav pull-right">
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">{% trans %}txt_indigenous_lang{% endtrans %} <b class="caret"></b></a>
				<ul id='locale_switcher' class="dropdown-menu">
				{% for supported_locale in supported_locales %}
					<li><a href="#" data-link="{{ path('locale_switch', { '_locale': supported_locale }) }}">{% trans into supported_locale %}txt_indigenous_lang{% endtrans %}</a></li>
				{% endfor %}
				</ul>
			</li>
		</ul>
		
		<!--
		<ul class="nav pull-right">
			<li><a href="#">{% trans %}txt_you_are_logged_in_as{% endtrans %}: <strong>{{ username }}</strong></a></li>
		</ul>
		-->
	</div>
</div>
<div id="loggedInUser" class="pull-right">
	{% trans %}txt_you_are_logged_in_as{% endtrans %}: <strong>{{ username }}</strong>
</div>