{% extends "KryptosKryptosBundle::layoutNotAuth.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:register.html.twig' %}


{% block content %}
	<form id="register" action="{{ path('register') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" style="width: 500px;">
		<div class="control-group">    
			<div class="controls" > 
				<img src="/bundles/kryptoskryptos/images/kryptos.png" class="img-rounded" class="centering" />
			</div>
		</div>
		
		{{ form_errors(form) }}
		{{ form_errors(form.title) }}
		{{ form_errors(form.firstName) }}
		{{ form_errors(form.lastName) }}
		{{ form_errors(form.jobTitle) }}
		{{ form_errors(form.company) }}
		{{ form_errors(form.location) }}
		{{ form_errors(form.email.email) }}
		{{ form_errors(form.password.password) }}
		{{ form_errors(form.captcha) }}
		
		<div class="control-group">
			{{ form_row(form.title) }}
		</div>
		
		<div class="control-group">
			{{ form_row(form.firstName) }}
			{{ form_row(form.lastName) }}
			{{ form_row(form.jobTitle) }}
			{{ form_row(form.company) }}
			{{ form_row(form.location) }}
		</div>
		
		<div class="control-group">
			{{ form_row(form.email) }}
		</div>
		
		<div class="control-group">
			{{ form_row(form.password) }}
		</div>
		
		<br>
		<div class="control-group">
			{{ form_widget(form.captcha) }}
		</div>
		<br>

		{{ form_rest(form) }}
    	
    	<div class="control-group">    
			<div class="controls">
				By clicking "sign-up" below you agree to our <a href="#modalTermsConditions" data-toggle="modal">Terms and conditions </a> and that you have read and agreed to our <a href="#modalDataUsePolicy" data-toggle="modal">Data use policy,</a> including our <a href="#modalCookieUse" data-toggle="modal">Cookie use </a> policy.
			</div>  
		</div>
    	
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-custom-block btn-primary">Sign-up</button> 
			</div>  
		</div>
		
		<div class="control-group">    
			<div class="controls">          
				<a href="{{ path('signin') }}">Back to login</a>
			</div>  
		</div>
    	
	</form>

	{% include 'KryptosKryptosBundle:Default:modalTermsConditions.html.twig' %}
	{% include 'KryptosKryptosBundle:Default:modalDataUsePolicy.html.twig' %}
	{% include 'KryptosKryptosBundle:Default:modalCookieUse.html.twig' %}
	
{% endblock %}