{% extends "KryptosKryptosBundle::layoutNotAuth.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:commonTheme.html.twig' %}

{% block content %}
	<form id="resetPasswordEmail" action="{{ path('password_reset_email') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" style="width: 500px;" >  
		<div class="control-group">    
			<div class="controls" > 
				<img src="/bundles/kryptoskryptos/images/kryptos.png" class="img-rounded" class="centering" />
			</div>
		</div>

		{{ form_errors(form) }}
		{{ form_errors(form.email) }}  
		
		<div class="control-group">
			{{ form_row(form.email) }}  
		</div>
		{{ form_rest(form) }}
		
		<div class="control-group">    
			<div class="controls">          
				<button type="submit" class="btn btn-custom-block btn-primary">Reset Password</button> 
			</div>  
		</div>
	</form>
{% endblock %}