{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:commonTheme.html.twig' %}

{% block content %}
	<section class="blueHeader">
		<h1>{{ location }}</h1>
		<section class="innerWrap">
			<div id="resetPasswordQuestion">
				<form action="{{ path('password_reset_question') }}/{{ userId }}/{{ code1 }}/{{ code2}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			    	<div id="ResetPasswordQuestionForm" class="control-group">
						{{ form_errors(form) }}

						{{ form_row(form.password) }}
						
						{{ form_rest(form) }}
					</div>
					<div class="control-group">
						<div class="controls">
				    		<button class="btn btn-custom-block" type="submit">Reset Password</button>
				   		</div>
			    	</div>
				</form>
			</div>
		</section>
	</section>
{% endblock %}