{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:signin.html.twig' %}

{% block content %}
	<section class="blueHeader">
		<h1>{{ location }}</h1>
		<section class="innerWrap">
			<div id="signin">
				<form action="{{ path('signin') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		
			    	<div id="SigninForm" class="control-group">
			    		
						{{ form_errors(form) }}

						{{ form_row(form.email) }}
						{{ form_row(form.password) }}
						
						{{ form_rest(form) }}
					</div>
					<div class="control-group">
						<div class="controls">
				    		<button class="btn btn-custom-block" type="submit">Login</button>
				   		</div>
			    	</div>
			    	
			    	<div class="control-group">
						<div class="controls">
							<a href="{{ path('password_reset_email') }}">Forgotten your password? </a>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<a href="{{ path('register') }}">
							<button class="btn btn-custom-block" type="button">Register</button>
							</a>
						</div>
					</div>
				</form>
			</div>
		</section>
	</section>
{% endblock %}