{% extends "KryptosKryptosBundle::layoutNotAuth.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:commonTheme.html.twig' %}

{% block content %}
	<form id="signin" action="{{ path('signin') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" style="width: 500px;" >  
		<div class="control-group">    
			<div class="controls" > 
				<img src="/bundles/kryptoskryptos/images/kryptos.png" class="img-rounded" class="centering" />
			</div>
		</div>
		
		{{ form_errors(form) }}
		{{ form_errors(form.email) }}  
		{{ form_errors(form.password) }}
		
		<div class="control-group">
			{{ form_row(form.email) }}  
			{{ form_row(form.password) }}
		</div>
		{{ form_rest(form) }}
		
		<div class="control-group">    
			<div class="controls">          
				<button type="submit" class="btn btn-custom-block btn-primary">{% trans %}btn_login{% endtrans %}</button> 
			</div>  
		</div>
		<div class="control-group">    
			<div class="controls">          
				<a href="{{ path('password_reset_email') }}">{% trans %}txt_forgotten_your_password{% endtrans %}</a>
			</div>  
		</div>
		<div class="control-group">    
			<div class="controls">
				<a href="{{ path('register') }}">
					<button type="button" class="btn btn-custom-block btn-primary">{% trans %}btn_create_account{% endtrans %}</button>
				</a>
			</div>  
		</div>
	</form>
{% endblock %}