{% block form_row %}
{% spaceless %}
	<div class="controls form_row {{ name }}">
		{{ form_widget(form) }}
	</div>
{% endspaceless %}
{% endblock form_row %}


{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if 'text' == type %}
    	<span class="add-on"><i class="icon-pencil"></i></span>&nbsp;
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}


{% block choice_widget_collapsed %}
{% spaceless %}
	<span class="add-on"><i class="icon-globe"></i></span>&nbsp;
	<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}


{% block form_errors %}
{% spaceless %}
{% if errors|length > 0 %}
	<div class="alert alert-error">
		<button class="close" data-dismiss="alert" type="button">x</button>
		{% for error in errors %}
			{% set errorMessage = error.messageTemplate|trans(error.messageParameters, 'validators') %}
			{% set errorMessageBits = errorMessage|split('|', 2) %}
			
			{% if errorMessageBits|length == 2 %}
				{% set title = errorMessageBits[0] %}
				{% set message = errorMessageBits[1] %}
				<strong>
					<i class=" icon-exclamation-sign"></i>
					{{ title }}
				</strong><br>
				{{ message }}
			{% else %}
				{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
{% endspaceless %}
{% endblock form_errors %}