{% block form_row %}
{% spaceless %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block field_errors %}
{% spaceless %}
{% if errors|length > 0 %}
	<ul class="errors">
		{% for error in errors %}
		<li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
		{% endfor %}
	</ul>
{% endif %}
{% endspaceless %}
{% endblock field_errors %}


{% block captcha_widget %}
{% if is_human %}
-
{% else %}
{% spaceless %}
<div class="captcha_details">Type the characters you see in the picture below.</div>
    <img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
    {% if reload %}
    <script type="text/javascript">
        function reload_{{ image_id }}() {
            var img = document.getElementById('{{ image_id }}');
            img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
        }
    </script>
    <a class="captcha_reload" href="javascript:reload_{{ image_id }}();">{{ 'New image'|trans({}, 'gregwar_captcha') }}</a>
    {% endif %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endif %}
{% endblock %}

