{% block form_row %}
{% spaceless %}
	<div class="controls form_row">
	    {{ form_widget(form) }}
	</div>
{% endspaceless %}
{% endblock form_row %}


{% block form_errors %}
{% spaceless %}
{% if errors|length > 0 %}
	<div class="alert alert-error">
		<button class="close" data-dismiss="alert" type="button"><i class=" icon-remove"></i></button>
		{% for error in errors %}
			{% set errorMessage = error.messageTemplate|trans(error.messageParameters, 'validators') %}
			{% set errorMessageBits = errorMessage|split('|', 2) %}
			
			{% if errorMessageBits|length == 2 %}
				{% set title = errorMessageBits[0] %}
				{% set message = errorMessageBits[1] %}
				<strong>
					<i class=" icon-exclamation-sign"></i>
					{{ title }}
				</strong><br>
				{{ message }}
			{% else %}
				{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
{% endspaceless %}
{% endblock form_errors %}


{% block captcha_widget %}
{% if is_human %}
-
{% else %}
{% spaceless %}
<div class="captcha_details">Type the characters you see in the picture below.</div>
    <img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
    {% if reload %}
    <script type="text/javascript">
        function reload_{{ image_id }}() {
            var img = document.getElementById('{{ image_id }}');
            img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
        }
    </script><br>
    <a class="captcha_reload" href="javascript:reload_{{ image_id }}();">{{ 'New image'|trans({}, 'gregwar_captcha') }}</a><br>
    {% endif %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endif %}
{% endblock %}

