	<div class="row" style="text-align:center;">
		<legend style="text-align:left;">{{ location }}</legend>
		<form class="form-horizontal" >
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date/Time</th>
						<th>Type</th>
						<th>Cost Price ({{ currency | raw}})</th>
						<th>Conversions</th>
						<th>Transaction id</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					 {% for payment in payments %}
						 <tr>
							<td>{{ payment.datetime|e }}</td>
							<td>{{ payment.type|e }}</td>
							<td>{{ payment.cost|e }}</td>
							<td>{{ payment.credits|e }}</td>
							<td>{{ payment.id|e }}</td>
							<td>{{ payment.status|e }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>