	<div class="row" style="text-align:center;">
		<legend style="text-align:left;">{% trans %}txt_account_history{% endtrans %}</legend>
		<form class="form-horizontal" >
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{% trans %}txt_datetime{% endtrans %}</th>
						<th>{% trans %}txt_type{% endtrans %}</th>
						<th>{% trans %}txt_cost_price{% endtrans %} ({{ currency | raw}})</th>
						<th>{% trans %}txt_conversions{% endtrans %}</th>
						<th>{% trans %}txt_transaction_id{% endtrans %}</th>
						<th>{% trans %}txt_status{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					 {% for payment in payments %}
						 <tr>
							<td>{{ payment.datetime|date('d/m/Y H:i:s') }}</td>
							<td>{{ payment.type|trans|escape }}</td>
							<td>{{ payment.cost|escape }}</td>
							<td>{{ payment.credits|escape }}</td>
							<td>{{ payment.id|escape }}</td>
							<td>{{ payment.status|trans|escape }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>