{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:commonWithLabel.html.twig' %}
{% form_theme passwordForm 'KryptosKryptosBundle:Form:commonWithLabel.html.twig' %}


{% block content %}
	<fieldset>
		<legend style="text-align:left;">{% trans %}txt_settings{% endtrans %}</legend>
	</fieldset>
	<div class="row-fluid">
		<div class="span6">
			<div style="background-color:#F8F8F8">
				<form id="settingsUserDetails" action="{{ path('account_settings') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
					<div class="row">
					
						<div class="control-group">
							<fieldset>
								<legend>{% trans %}txt_personal_details{% endtrans %}</legend>
							</fieldset>
										
							<div class="control-group">
								{{ form_row(form.title) }}
							</div>
							
							<div class="control-group">
								{{ form_row(form.firstName) }}
							</div>
							
							<div class="control-group">
								{{ form_row(form.lastName) }}
							</div>
							
							<div class="control-group">
								{{ form_row(form.jobTitle) }}
							</div>
							
							<div class="control-group">
								{{ form_row(form.company) }}
							</div>
							
							<div class="control-group">
								{{ form_row(form.location) }}
							</div>
							
							<div class="control-group">
								{{ form_row(form.email) }}
							</div>
							
							<br>
							{{ form_rest(form) }}
							
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn btn-custom-block btn-primary">{% trans %}txt_update{% endtrans %}</button> 
								</div>  
							</div>
							
							{% if personalDetailsUpdated|trans != '' %}
								<div class="alert alert-success">
									<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
									<strong><i class="icon-ok-sign"></i> {% trans %}msg_title_details_updated{% endtrans %}</strong> <br/>
									{{ personalDetailsUpdated|trans }}
								</div>
							{% endif %}
							
							{{ form_errors(form) }}
							{{ form_errors(form.title) }}
							{{ form_errors(form.firstName) }}
							{{ form_errors(form.lastName) }}
							{{ form_errors(form.jobTitle) }}
							{{ form_errors(form.company) }}
							{{ form_errors(form.location) }}
							{{ form_errors(form.email.email) }}  
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<div class="span6">
			<div style="background-color:#F8F8F8">
				<form novalidate id="settingsUserPassword" action="{{ path('account_settings') }}" method="post" {{ form_enctype(passwordForm) }} class="form-horizontal">
					<div class="row">
						<div class="control-group">    
							<fieldset>
								<legend>{% trans %}txt_password{% endtrans %}</legend>
							</fieldset>
							
							<div class="control-group">
								{{ form_row(passwordForm.oldPassword) }}
							</div>
							
							<div class="control-group">
								{{ form_row(passwordForm.password) }}
							</div>
							
							<br>
							{{ form_rest(passwordForm) }}
							
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn btn-custom-block btn-primary">{% trans %}txt_update{% endtrans %}</button> 
								</div>  
							</div>
							
							{% if passwordUpdated|trans != '' %}
								<div class="alert alert-success">
									<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
									<strong><i class="icon-ok-sign"></i> {% trans %}msg_title_password_updated{% endtrans %}</strong> <br/>
									{{ passwordUpdated|trans }}
								</div>
							{% endif %}
							
							{{ form_errors(passwordForm) }}
							{{ form_errors(passwordForm.oldPassword) }}
							{{ form_errors(passwordForm.password.password) }}
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>
{% endblock %}